.page {
  padding-left: $menuWidth;
  margin-top: 60px;
}

.page-content {
  padding: 20px 110px 80px 110px;
  margin: 0 auto;
  max-width: 100%;
}

img {
  max-width: 100%;
}

blockquote {
  background-color: #fafbfc;
  margin: 0;
  padding: 20px 20px 20px 40px;
  border-left: solid 4px $primary;

  p {
    margin: 0;
  }
}

.switch-page {
  position: fixed;
  height: 55px;
  background-color: rgba(355, 355, 355, 0.8);
  bottom: 0;
  left: $menuWidth;
  right: 0;

  .previous, .next {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    position: absolute;
    top: 0;

    i, span {
      display: inline-block;
      vertical-align: top;
      line-height: 20px;
      color: $primary;
    }
    i {
      font-size: 16px;
    }
    span {
      font-size: 15px;
      padding: 0 5px;
    }

    &:hover {
      text-decoration: none;
    }
  }
  .previous {
    left: 0;
  }
  .next {
    right: 0;
  }
}
